@keyframes swipe-appear {
	0% { width: 0; padding: 0; }
	100% { width: 100%; padding: 0 10px; }
}

@keyframes slide-up {
	0% { opacity: 0; transform: translateY(30px); }
	100% { opacity: 1; transform: translateY(0); }
}