@keyframes swipe-appear {
	0% { width: 0; padding: 0; }
	100% { width: 100%; padding: 0 0.1em; }
}

@keyframes slide-up {
	0% { opacity: 0; transform: translateY(30px); }
	100% { opacity: 1; transform: translateY(0); }
}

@keyframes urban {
	0% { }
	70% { background: #222; transform: scale(1); opacity: 1; filter: none; }
	100% { transform: scale(1.5); opacity: 0; filter: blur(30px); }
}