/* Common Styles */

a {
	color: inherit;
	text-decoration: none;
}

.underline {
	position: relative;
}

.underline:after {
	content: '';
	position: absolute;
	bottom: 0.15em;
	height: 0.2em;
	padding: 0 0.1em;
	width: 100%;
	left: -0.1em;
	display: block;
	background: #F0DFD7;
	z-index: -1;
}

/* Structure */

body {
	background: #FCFBF6;
}

header {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 100;
	height: 100px;
}

header:after {
	content:'';
	background: -moz-linear-gradient(top, #FCFBF6 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #FCFBF6 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #FCFBF6 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	transition: all 1s ease;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}

header.scrolled:after {
	opacity: 1;
}

header>.logo {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 25%;
}

header>.logo>img {
	max-width: 100%;
}

header>.shop,
header>.share {
	position: absolute;
	top: 45px;
	color: #191e22;
	text-decoration: none;
	white-space: nowrap;
}

@media only screen and (min-width: 601px) {
  header {
	  height: 200px;
  }
  header>.shop,
  header>.share {
    top: 70px;
  }
  header>.logo {
	  top: 50px;
  }
  header>.shop>span:before {
	  content:'Hit The ';
  }
  header>.share>span:after {
	  content:' With A Friend';
  }
}

header>.shop {
	left: 5%;
	text-align: right;
}

header>.share {
	right: 5%;
	text-align: left;
}


main {
	min-height: 100%;
	position: relative;
}

/* questionnaire */

.landing {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
}

.landing .wrap {
	animation: slide-up 0.6s ease forwards 0.3s;
	opacity: 0;
	transform: translateY(30px);
}

.landing .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.landing .container h1 {
	font-size: 3.5em;
	color: #fff;
	margin: 0;
	width: 100%;
	line-height: 1em;
}

@media only screen and (min-width: 993px) {
  .landing .container h1 {
    font-size: 5em;
  }
}

.landing .button {
	height: 40px;
	line-height: 40px;
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	text-decoration: none;
	display: inline-block;
	margin: 60px 0 0 0;
	transition: all 0.3s ease;
	padding: 0 40px;
}

.landing .button:hover {
	background: #fff;
	color: #000;
}

.landing .slideshow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
}

.landing .image-left {
	right: 50%;
}

.landing .image-right {
	left: 50%;
}

.landing .slideshow .slick-slide {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.question {
	visibility: hidden;
	opacity:0;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: #FCFBF6;
	z-index: 1;
	transition: all 0.6s ease;
}

.question ~ .question {
	transition: none;
}

.question:target {
	visibility: visible;
	opacity:1;
}

.question .container {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
}

.question .wrap {
	opacity: 0; transform: translateY(30px);
}

.question:target .wrap {
	animation: slide-up 0.6s ease forwards 0.2s;
}

.question .label {
	margin-bottom: 15px;
}

.question h2 {
	font-size: 3em;
	position: relative;
	display: inline;
	line-height: 1em;
	margin: 0;
}

@media only screen and (min-width: 601px) {
  .question h2 {
    font-size: 4em;
  }
}

@media only screen and (min-width: 993px) {
  .question h2 {
    font-size: 5em;
  }
}

.question:target h2:after {
	animation: swipe-appear 0.6s cubic-bezier(0.86, 0, 0.07, 1) 0.2s forwards;
}

.question .answers {
	margin-top: 40px;
	padding-bottom: 10px;
}

.question .answers .button {
	height: 40px;
	line-height: 40px;
	border: 1px solid #F0DFD7;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #000;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	opacity: 0;
	transform: translateY(30px);
	transition: background 0.3s ease;
}

.question .answers div:nth-child(1) .button {
	animation-delay: 0.5s;
}

.question .answers div:nth-child(2) .button {
	animation-delay: 0.6s;
}

.question .answers div:nth-child(3) .button {
	animation-delay: 0.7s;
}

.question .answers div:nth-child(4) .button {
	animation-delay: 0.8s;
}

.question:target .answers .button {
	animation: slide-up 0.6s ease forwards;
}

.answers .button:hover {
	background: #F0DFD7;
}

#email .row {
	padding-top: 4em;
}

#email h4 {
	font-size: 1.6em;
	display: inline-block;
	position: relative;
	margin:0 0 0.8em 0;
}

#email form input {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	height: 40px;
	line-height: 40px;
	border: none;
	background: none;
	border-bottom: 1px solid #ccc;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.04em;
	font-size: 0.8em;
	transition: all 0.6s ease;
	outline: none;
	border-radius: 0;
}

#email form input:hover,
#email form input:focus,
#email form input:active {
	border-color: #000;
}

#email form button {
	border: none;
	background: none;
	padding:0;
	display: inline-block;
	position: relative;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1.3em;
	margin-top: 10%;
	cursor: pointer;
}

#email form button:focus {
	outline: none;
}

#email form button:active {
	outline: none;
	top: 3px;
}


#result {
	position: fixed;
	background: #FCFBF6;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	visibility: hidden;
	transition: background 1s ease;
}

#result:target {
	z-index: 200;
	visibility: visible;
	opacity: 1;
}

#result .container {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
	color: #fff;
}

#result:target .container p {
	opacity: 0;
	transform: translateY(30px);
	animation: slide-up-out 4s ease forwards 0.2s;
}

/* share drawer */

#share {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 60px 0;
	background: #EDDFD9;
	z-index: 100;
	transform: translateY(100%);
	transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

#share.open {
	transform: translateY(0);
}

#share .close {
	position: absolute;
	top: 20px;
	right: 20px;
}

#share h4 {
	display: inline-block;
	margin: 0 0 40px 0;
}

#share h4.underline:after {
	background: #fff;
}

#share p {
	margin: 0 0 10px 0;
}

#share p a {
	display: inline-block;
	margin: 0 15px;
	transform: scale(1.1);
}

/* follow toolbar */

#follow {
	position: fixed;
	bottom: 20px;
	left: 3%;
	z-index: 100;
	cursor: pointer;
}

@media only screen and (min-width: 601px) {
	#follow {
		left: 5%;
		bottom: 50px;
	}
}

#follow .toggle {
	display: block;
	transform: rotate(90deg);
}

#follow .links {
	padding-top: 30px;
	overflow: hidden;
	max-height: 0;
	transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

#follow:hover .links {
	max-height: 200px;
}

#follow .links>a {
	display: block;
	padding: 8px;
	transform: scale(0.8);
	transition: all 0.3s ease;
}

#follow .links>a:hover {
	transform: scale(1);
}

/* style page template */

.stickyshare {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	background: #FCFBF6;
	transform: translateY(100%);
	transition: all 0.3s ease;
}

.stickyshare.visible {
	transform: translateY(0);
}

.banner, .cover {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
}

.cover {
	position: absolute;
	z-index: 110;
	animation: hide 2s ease forwards 3s;
}

.banner .wrap {
	animation: slide-up 0.6s ease forwards 0.3s;
	opacity: 0;
	transform: translateY(30px);
}

.banner .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 120;
	animation: move-to-back 0.1s linear 5s forwards;
}

.banner .container h1 {
	font-size: 5em;
	color: #fff;
	margin: 0;
	width: 100%;
	line-height: 1em;
}

@media only screen and (min-width: 601px) {
  .banner .container h1 {
    font-size: 6em;
  }
}

@media only screen and (min-width: 993px) {
  .banner .container h1 {
    font-size: 7em;
  }
}

.banner .image-left,
.banner .image-right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.banner .image-left {
	right: 50%;
}

.banner .image-right {
	left: 50%;
}

.intro {
	padding: 80px 0 40px 0;
}

.intro h3 {
	display: block;
}

.intro h2 {
	font-size: 4em;
	line-height: 1.2em;
	display: inline-block;
	margin: 0;
}

.intro p.small {
	margin-bottom: 40px;
}

.grid {
	padding: 40px 0;
	text-align: left;
}

.grid .col {
	margin-bottom: 5%;
}

.grid .col:nth-child(even) {
	padding-top: 5%;
}

.grid img {
	width: 100%;
}

.grid h3 {
	font-size: 1.8em;
	margin: 20px 0 0 0;
}

.grid p {
	max-width: 320px;
	color: #888;
}